<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arashivision.sdk.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".myactivities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".activity.FullDemoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PreviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Preview2Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Preview3Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiveActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CaptureActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OscActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraFilesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayAndExportActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MoreSettingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StitchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FwUpgradeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>